@model ProdutoListViewModel; // referenciado no arquivo _ViewImports
<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h2>@ViewData["Data"]</h2>
<hr />
<h3>@ViewBag.Total @ViewBag.TotalProdutos</h3>
<hr />
<div class="container">
    <div class="row">
        @foreach (var produto in Model.Produtos)
        {
            <partial name="_ProdutosResumo" for="@produto" />
        }
    </div>
</div>
